footer {
	background: $slate;
	color: $white;
	padding: 75px 0 85px 0;

	a {
		color: $white;
	}

	@include tablet-portrait {
		.wrapper {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
		}

		.left {
			max-width: 455px;
			width: 100%;
		}
		.right {
			text-align: right;

		}
	}

	@include tablet-landscape {
		.left {
			max-width: 585px;
		}

		.col.follow {
			width: 85px;
		}
	}

	.footer-nav {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		justify-content: space-between;

		.col {
			width: 100%;
			padding-bottom: 25px;

			@include mobile-landscape {
				width: 50%;
			}

			@include tablet-landscape {
				width: 140px;
				padding-bottom: 0;

				&.follow {
					width: 80px;
				}

				&.main {
					width: 110px;
				}
			}
		}
	}

	.footer-logo {
		padding-bottom: 25px;
	}

	.footer-search {
		img {
			max-width: 12px;
		}
	}
	
	.footer-headline {
		padding-bottom: 10px;
		h3 {
			font-weight: 900;
			font-size: 1.5em;
			letter-spacing: 0.025em;
		}
	}
	
	.col {
		.nav-links {
			a {
				display: block;
				font-size: 0.75em;
				letter-spacing: 0.075em;
				text-transform: uppercase;
				padding: 6px 0;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		&.main {
			.nav-links {
				a {
					font-weight: 700;
				}
			}
		}
	}

	.credits {
		padding-top: 50px;

		@include tablet-portrait {
			padding-top: 0;
		}

		.signature {
			max-width: 145px;
			padding-bottom: 25px;

			@include tablet-portrait {
				margin-left: auto;
			}
		}

		.back-to-top {
			a {
				display: inline-block;
				font-family: $freight;
				text-transform: uppercase;
				font-size: 1.5em;
				letter-spacing: 0.075em;
				position: relative;
				padding-right: 16px;

				&:after {
					display: block;
					content: '';
					width: 7px;
					height: 23px;
					background: url(images/top-arrow.png) no-repeat 0 0;
					position: absolute;
					right: 0;
					top: 0;
					z-index: 2;
				}
			}

		}

		.copyright {
			padding: 25px 0 22px 0;
			p {
				font-size: 0.625em;
				text-transform: uppercase;
				letter-spacing: 0.05em;
			}

		}

		.site-by {
			p {
				font-size: 0.625em;
				line-height: 1.75em;
				text-transform: uppercase;
				letter-spacing: 0.05em;

				a {
					border-bottom: 1px solid rgba(255, 255, 255, 0.5);

					&:hover {
						border-bottom: 1px solid rgba(255, 255, 255, 0.75);
					}
				}
			}
		}
	}

	.subscribe {
		padding-top: 25px;

		@include tablet-landscape {
			padding-top: 50px;
		}

		.footer-headline {
			padding-bottom: 15px;
		}

		form {
			display: flex;

			*:focus,
			*:active {
				outline: none;
			}

			input[type="text"],
			input[type="email"] {
				border: none;
				border-radius: 0;
				font-size: 0.6875em;
				letter-spacing: 0.075em;
				font-weight: 500;
				text-transform: uppercase;
				height: 30px;
				line-height: 30px;
				padding: 0 15px;
				width: 100%;

				@include placeholder {
					color: $slate;
				}
			}

			input[type="submit"] {
				border: none;
				border-radius: 0;
				height: 30px;
				background: $dark-pink;
				color: $slate;
				padding: 0 15px;
				font-family: $freight;
				font-weight: bold;
				letter-spacing: 0.05em;
			}

			.name {
				flex: 1;
			}

			.email {
				padding: 0 3px;
				flex: 2;
			}
  		}
	}
	

}



.top-liketoknowit {
	height: 180px;
	width: 100%;
	position: relative;
	overflow: hidden;
	background: $white;

	.top-liketoknowit-inner {
		width: 3000px;
		position: absolute;
		top: 0;
		left: 0;
		margin-left: 0;
	}

	tbody tr {
		background: black !important;
	}

	.ltk-item {
		transition: opacity 0.5s ease-in-out !important;
		width: 180px !important;

		a {
			background-color: white !important;
			transition: opacity 0.5s ease-in-out !important;

			&:hover {
				opacity: 0.6;
				transition: opacity 0.5s ease-in-out !important;
			}
		}
	}
}