.site-header {
	padding: 30px 0 40px 0;

	.wrapper {
		max-width: 1400px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 0 25px;
		transition: padding 0.2s ease-in;

		@include desktop {
			justify-content: center;
		}

		@media screen and (min-width: 1450px) {
			padding: 0;
		}
	}

	.site-logo {
		max-width: 150px;

		@include tablet-portrait {
			max-width: 200px;
		}

		@include desktop {
			max-width: 250px;
		}

		a {
			display: block;
		}
	}

	.hamburger {
		@include tablet-landscape {
			display: none;
		}

		.nav-trigger {
			display: block;
			width: 35px;
		    cursor: pointer;
		    padding: 8px 0;
		    transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
		    z-index: 100000;

		    &:hover {
		    	cursor: pointer;
		    }

			.patty {
			    width: 35px;
			    height: 2px;
			    background: $slate;
			    border-radius: 2px;
			    transition: all 0.3s;
			    margin-left: auto;

				&:after, &:before {
				    content: '';
				    display: block;
				    width: 35px;
				    height: 2px;
				    background: $slate;
				    position: absolute;
				    z-index: 1;
				    transition: all 0.3s;
				    border-radius: 2px;
				}
				&:before {
				    top: -8px;
				}
				&:after {
				    top: 8px;
				}
			}
		}		
	}
}
