body {
	background: #fff;
}

.wrapper {
	@include wrapper-padding;

}

.cover {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.main-content {
	min-height: 60vh;
}


article.post.vertical {
	width: 100%;
	max-width: 400px;
	margin: 0 auto;

	.photo-wrapper {
		width: 100%;

		a {
			display: block;
			@include aspect-ratio(265, 415);

			span.content {
				display: block;
			}

			img {
				object-fit: cover;
				object-position: top center;
				width: 100%;
				height: 100%;
			}
		}
	}

	.info {
		width: 90%;
		margin: 0 auto;
		background: $white;
		border-bottom: 1px solid $black;
		text-align: center;
		padding: 25px 35px;
		margin-top: -90px;

		.meta {
			padding-bottom: 10px;

			h5 {
				text-transform: uppercase;
				font-size: 0.625em;
				letter-spacing: 0.075em;
				font-family: $transat;
				font-weight: 500;
			}
		}

		.title {
			h3 {
				font-weight: 900;
				font-size: 1.4375em;
				line-height: 1.305em;
			}
		}
	}
}