html, input, textarea {
	-webkit-font-smoothing: antialiased;
}
body {
	text-rendering: optimizeLegibility;
}

body, input, textarea, button {
	color: $slate;
	font: 400 100%/1 $transat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $freight;
	font-weight: 100;
}

p {

}

a {
	color: $slate;
	transition: all 0.3s ease-in-out;
}

.cta {
	.btn {
		background: $slate;
		color: $white;
		font-family: $freight;
		font-weight: 900;
		display: inline-block;
		padding: 10px 25px;
		font-size: 1.125em;
		letter-spacing: 0.05em;
	}
}