/* Colors
----------------------------------*/
$white: #fff;
$off-white: #fafafa;
$mid-gray: #7B7977;
$charcoal: #424242;
$slate: #231f20;
$black: #000;

$light-gray: #f2eceb;
$pink: #efddd7;
$dark-pink: #d8b1aa;
$green: #d2dddf;


/* Typography
----------------------------------*/
$freight: freight-big-pro, serif;
$transat: transat-text, sans-serif;