section.featured-post {
	padding-bottom: 30px;

	.info {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		z-index: 5;
		display: flex;
		justify-content: center;
		align-items: center;

		.info-wrapper {
			text-align: center;
			background: rgba(255, 255, 255, 0.85);
			width: 100%;
			max-width: 90%;
			padding: 30px 25px;

			@include tablet-portrait {
				max-width: 645px;
			}

			.meta {
				display: flex;
				justify-content: space-between;

				.cat {
					h5 {
						font-weight: bold;
						font-family: $transat;
						text-transform: uppercase;
						font-size: 0.6875em;
						letter-spacing: 0.05em;

						a {
							&:hover {
								text-decoration: underline;
							}
						}
					}
				}

				.date {
					display: flex;
					h5 {
						font-weight: bold;
						font-family: $transat;
						text-transform: uppercase;
						font-size: 0.6875em;
						letter-spacing: 0.05em;

						span.new {
							font-weight: normal;
							border-bottom: 1px solid;
							margin-right: 3px;
						}
					}
				}
			}

			.title {
				padding: 50px 0 40px 0;

				@include tablet-portrait {
					max-width: 420px;
					margin: 0 auto;
				}

				h2 {
					font-weight: 100;
					text-transform: uppercase;
					font-size: 2.815em;
					line-height: 1.125em;
					letter-spacing: 0.075em;
				}
			}

			.cta {
				display: flex;
				justify-content: center;

				a {
					display: block;
					font-family: $freight;
					font-weight: 900;
					font-size: 1.3125em;
					letter-spacing: 0.075em;
					position: relative;

					&:after {
						display: block;
						content: '';
						width: 110%;
						height: 8px;
						background: $dark-pink;
						transform: translate3d(-5%, -7px, 0);
						z-index: 1;
						position: relative;
					}

					span {
						display: block;
						z-index: 2;
						position: relative;
					}

					&:before {
						display: block;
						content: '';
						width: 23px;
						height: 7px;
						background: url(images/right-arrow.png) no-repeat 0 0;
						position: absolute;
						right: -29px;
						top: 10px;
						z-index: 2;
					}

				}
			}

		}
	}
	.photo-wrapper {

		a {
			display: block;
			@include aspect-ratio(265, 415);

			@include mobile-landscape {
				@include aspect-ratio(4, 3);
			}

			@include tablet-landscape {
				@include aspect-ratio(1116, 575);
			}


			span.content {
				display: block;
			}

			img {
				object-fit: cover;
				object-position: top center;
				width: 100%;
				height: 100%;
			}
		}
	}
}
