section.recent-posts-top {
	padding-bottom: 100px;

	@include tablet-landscape {
		padding-bottom: 150px;
	}
	

	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 600px;
		background: $pink;
		transform: skew(0, -11deg);
		position: absolute;
		z-index: -1;
		top: 0;
	}

	.wrapper {
		display: grid;
		grid-gap: 30px 20px;
		grid-template-columns: 1fr;

		@include mobile-landscape {
			grid-template-columns: 1fr 1fr;
		}

		@include tablet-landscape {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
	}
}
