section.instagram-main {
	padding: 0 0 50px 0;

	@include tablet-portrait {
		padding: 50px 0 100px 0;
	}

	.section-header {
		text-align: center;
		padding-bottom: 30px;

		h5 {
			display: flex;
			justify-content: center;
			font-family: $transat;
			font-size: 0.75em;
			text-transform: uppercase;
			letter-spacing: 0.075em;
			font-weight: 700;
			padding-bottom: 10px;

			a {
				display: block;
				position: relative;

				&:before {
					display: block;
					content: '';
					width: 23px;
					height: 7px;
					background: url(images/right-arrow.png) no-repeat 0 0;
					position: absolute;
					right: -29px;
					top: 2px;
					z-index: 2;
				}

				&:hover {
					text-decoration: underline;
				}		
			}
		}

		h2 {
			font-size: 2.25em;
			text-transform: uppercase;
			letter-spacing: 0.075em;
		}
	}

	#sb_instagram #sbi_images {
		float: none;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		.sbi_item {
			width: calc(33.3333% - 10px);
			@include tablet-portrait {
				width: calc(33.3333% - 25px);
			}
			&:before {
				display: block;
				content: "";
				width: 100%;
				padding-top: (440 / 360) * 100%;
			}
			
			> .sbi_photo_wrap {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}

			.sbi_photo {
				object-fit: cover;
				object-position: top center;
				width: 100%;
				height: 100% !important;

			}



		}

		.sbi_info {
			display: none;
		}
	}
}