section.current-look {
	padding-bottom: 100px;

	.section-header {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		border-bottom: 1px solid $slate;

		.month {
			padding-bottom: 5px;

			@include tablet-portrait {
				padding-bottom: 10px;
			}
			h5 {
				text-transform: uppercase;
				font-weight: 900;
				font-family: $transat;
				font-size: 0.875em;
				letter-spacing: 0.05em;
			}
		}

		.headline {
			max-width: 200px;

			img {
				transform: translateY(15px);
			}

			@include mobile-landscape {
				max-width: 300px;
				
				img {
					transform: translateY(20px);
				}
			}


		}

		.shop-all {
			padding-bottom: 5px;
			
			@include tablet-portrait {
				padding-bottom: 10px;
			}

			a {
				display: flex;
				align-items: center;
				font-family: $freight;
				text-transform: uppercase;
				letter-spacing: 0.05em;

				&:hover {
					text-decoration: underline;
				}

				&:before {
					content: '';
					display: block;
					width: 11px;
					height: 12px;
					margin-right: 8px;
					background: url(images/shop-bag-small-black.png) no-repeat 0 0;
				}
			}
		}
	}

	.look {
		padding-top: 50px;

		@include tablet-portrait {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
		}

		&-photo {
			padding-bottom: 50px;

			@include tablet-portrait {
				width: calc(33.3333% - 25px);
			}

			@include tablet-landscape {
				width: calc(35% - 25px);
			}

			img {
				margin: 0 auto;
				width: 100%;
				max-width: 500px;
			}
		}

		.items {

			@include mobile-landscape {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				grid-gap: 20px;
			}

			@include tablet-portrait {
				width: calc(66.6666% - 25px);
			}

			@include tablet-landscape {
				width: calc(62.5% - 25px);
				grid-gap: 50px;
			}

			.item {
				@include tablet-portrait {
					display: flex;
					flex-direction: column;
					flex-wrap: wrap;
					justify-content: flex-end;
				}

				.photo {
					margin-bottom: auto;
				}

				.info {
					padding-top: 20px;
				}

			}

			.photo {
				img {
					margin: 0 auto;
				}
			}

			.info {


				.headline {
					width: 100%;
					padding-bottom: 20px;

					h3 {
						text-transform: uppercase;
						letter-spacing: 0.075em;
						font-size: 1.1875em;
						line-height: 1.25em;

						a {
							&:hover {
								text-decoration: underline;
							}
						}
					}
				}

				.copy {
					width: 100%;
					p {
						font-size: 0.8125em;
						line-height: 1.5em;
					}
				}

			}

		}
	}
}