section.recent-posts-middle {
	padding: 0 0 100px 0;

	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 600px;
		background: $green;
		transform: skew(0, 11deg);
		position: absolute;
		z-index: -1;
		bottom: 0;

		@include tablet-portrait {
			bottom: calc(40% - 300px);
		}
	}

	@include tablet-portrait {
		padding: 50px 0 150px 0;
	}

	.post {

		.wrapper {
			@include tablet-portrait {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

		}

		.photo {
			@include tablet-portrait {
				width: calc(50% - 25px);
			}

			a {
				display: block;

				img {
					width: 100%;
				}
			}
		}

		.info {
			padding: 30px 15px 0 15px;

			@include tablet-portrait {
				width: calc(50% - 25px);
				padding: 0;
			}

			.title {
				h3 {
					text-transform: uppercase;
					font-size: 2em;
					line-height: 1.0666em;
					letter-spacing: 0.075em;

					@include tablet-landscape {
						font-size: 2.8125em;
					}

					a:hover {
						text-decoration: underline;
					}
				}
			}

			.meta {
				padding-top: 25px;

				.date {
					h5 {
						text-transform: uppercase;
						font-weight: 900;
						font-size: 1.25em;
						letter-spacing: 0.05em;

						@include tablet-landscape {
							font-size: 1.5em;
						}
					}
				}
			}

			.meta-top {
				padding-top: 2px;
				padding-bottom: 30px;
				display: flex;
				align-items: center;

				.cat {
					padding-left: 10px;
					border-left: 1px solid $dark-pink;
					margin-left: 10px;

					h5 {
						font-weight: 600;
						font-style: italic;
					}
				}

				.comments {
					a {
						display: flex;
						align-items: center;

						span {
							display: block;

							&.icon {
								margin-right: 8px;

								img {
									max-height: 12px;
								}
							}
						}
					}
				}

				h5 {
					text-transform: uppercase;
					font-family: $transat;
					font-weight: 400;
					font-size: 0.75em;
					letter-spacing: 0.05em;

					a:hover {
						text-decoration: underline;
					}
				}
			}

			.excerpt {
				padding: 50px 0 30px 0;
				max-width: 530px;

				p {
					font-size: 1em;
					line-height: 1.5em;

					padding-bottom: 40px;
				}

				.wp-block-image {
					display: none;
				}
			}
		}

		.cta {
			display: flex;
			align-items: center;

			.btn {
				@include tablet-landscape {
					font-size: 1.5em;
					padding-left: 40px;
					padding-right: 40px;	
				}
			}

			.signature {
				max-width: 140px;
				margin: 0 0 0 25px;
			}
		}
	}


	.post-6 {
		margin-bottom: 100px;

		&:after {
			display: block;
			content: '';
			width: 80%;
			position: absolute;
			right: 0;
			bottom: -50px;
			height: calc(50% + 100px);
			background: $light-gray;
			z-index: -1;
		}

		@include tablet-portrait {
			margin-bottom: 165px;

			&:after {
				width: calc(50% + 100px);
				right: 0;
				top: -75px;
				height: calc(100% + 150px);
			}
		}
		
	}


	.post-7 {

		@include tablet-portrait {
			text-align: right;
			.photo {
				order: 2;
			}

			.info {
				order: 1;

				.meta-top {
					justify-content: flex-end;
				}

				.excerpt {
					margin-left: auto;
				}


			}

			.cta {
				justify-content: flex-end;

				.signature {
					order: -1;
					margin: 0 25px 0 0;
				}
			}
		}

	}


}
