#policies-modal {
	display: none;

	.policies-close {
		display: block;
		width: 40px;
		height: 40px;
		position: absolute;
		top: 25px;
		right: 10px;

		&:after, &:before {
		    content: '';
		    display: block;
		    width: 25px;
		    height: 1px;
		    background: $black;
		    position: absolute;
		    z-index: 1;
		    border-radius: 2px;
		    transition: all 0.2s;
		    top: 0;
		    right: 0;
		}
		&:before {
		    transform: rotate(45deg);
		}
		&:after {
		    transform: rotate(-45deg);
		}
	}


}


body.policies-open {
	overflow: hidden;

	#policies-modal {
		display: block;

		.overlay {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			background: rgba(0, 0, 0, 0.5);
			z-index: 10000;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 25px;
			overflow: scroll;
		}

		.overlay-wrapper {
			margin: auto;
			display: flex;
			align-items: center;
			background: $white;
			width: 100%;
			max-width: 700px;
			padding: 60px 40px;
		}

		.info {
			width: 100%;

			.headline {
				text-align: center;

				h4 {
					font-family: $transat;
					text-transform: uppercase;
					letter-spacing: 0.1em;
					font-size: 0.75em;
					font-weight: 400;
					padding-bottom: 5px;

					@include tablet-portrait {
						font-size: 0.875em;
					}
				}

				h3 {
					text-transform: uppercase;
					font-size: 2em;
					letter-spacing: 0.075em;

					@include tablet-portrait {
						font-size: 2.8125em;
					}
				}
			}



			.copy {
				padding: 25px 0;
				max-width: 420px;
				margin: 0 auto;

				p {
					font-family: $freight;
					font-weight: 400;
					font-size: 1em;
					line-height: 1.375em;
					letter-spacing: 0.05em;

					@include tablet-portrait {
						font-size: 1.125em;
					}

					& + p {
						padding-top: 20px;
					}
				}

			}
		}
	}	
}