#search-modal {
	display: none;

	.search-close {
		display: block;
		width: 40px;
		height: 40px;
		position: absolute;
		top: 20px;
		right: 5px;

		@include mobile-landscape {
			top: 25px;
			right: 10px;

		}

		&:after, &:before {
		    content: '';
		    display: block;
		    width: 25px;
		    height: 1px;
		    background: $white;
		    position: absolute;
		    z-index: 1;
		    border-radius: 2px;
		    transition: all 0.2s;
		    top: 0;;
		    right: 0;
		}
		&:before {
		    transform: rotate(45deg);
		}
		&:after {
		    transform: rotate(-45deg);
		}
	}

	form {
		width: 100%;

		@include mobile-landscape {
			display: flex;
			justify-content: space-between;
		}
	}

	.search-query {
		appearance: none;
		border: none;
		background: $white;
		display: block;
		padding: 10px 15px;
		font-weight: 500;
		font-size: 1em;
		text-transform: uppercase;
		letter-spacing: 0.075em;
		color: $slate;
		z-index: 100000;
		margin-right: 5px;
		width: 100%;

		@include mobile-landscape {
			flex: 1;
			width: auto;
		}
		

		@include placeholder {
			color: $slate;
		}

		&:focus,
		&:active {
			outline: none;
		}
	}

	.search-submit {
		border: none;
		background: $dark-pink;
		font-family: $freight;
		font-weight: 700;
		font-size: 1.25em;
		letter-spacing: 0.05em;
		padding: 7px 15px;
		margin-top: 5px;

		@include mobile-landscape {
			margin-top: 0;
			padding: 0 15px;
		}

		&:focus,
		&:active {
			outline: none;
		}
	}
}


body.search-open {
	overflow: hidden;

	#search-modal {
		display: block;

		.overlay {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			background: rgba(0, 0, 0, 0.5);
			z-index: 10000;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 25px;
		}

		.overlay-wrapper {
			background: $slate;
			width: 100%;
			max-width: 700px;
			padding: 30px 20px;

			@include mobile-landscape {
				padding: 60px 40px;
			}
		}
	}	
}