#subscribe-modal {
	display: none;

	.subscribe-close {
		display: block;
		width: 40px;
		height: 40px;
		position: absolute;
		top: 25px;
		right: 10px;

		&:after, &:before {
		    content: '';
		    display: block;
		    width: 25px;
		    height: 1px;
		    background: $white;
		    position: absolute;
		    z-index: 1;
		    border-radius: 2px;
		    transition: all 0.2s;
		    top: 0;
		    right: 0;
		}
		&:before {
		    transform: rotate(45deg);
		}
		&:after {
		    transform: rotate(-45deg);
		}
	}


}


body.subscribe-open {
	overflow: hidden;

	#subscribe-modal {
		display: block;

		.overlay {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			background: rgba(0, 0, 0, 0.5);
			z-index: 10000;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 25px;
			overflow: scroll;
		}

		.overlay-wrapper {
			margin: auto;
			display: flex;
			align-items: center;
			background: $slate;
			width: 100%;
			max-width: 700px;
			padding: 60px 40px;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.photo {
			width: 100%;
			display: none;

			@include tablet-portrait {
				width: calc(50% - 25px);
				display: block;
			}

		}

		.info {
			color: $white;
			width: 100%;
			text-align: center;

			@include tablet-portrait {
				width: calc(50% - 25px);
			}

			a {
				color: $white;
			}

			.headline {
				.signature {
					padding-bottom: 20px;

					img {
						margin: 0 auto;
						max-width: 140px;
					}
				}

				h4 {
					font-family: $transat;
					text-transform: uppercase;
					letter-spacing: 0.1em;
					font-size: 0.75em;
					font-weight: 400;
					padding-bottom: 5px;

					@include tablet-portrait {
						font-size: 0.875em;
					}
				}

				h3 {
					text-transform: uppercase;
					font-size: 2em;
					letter-spacing: 0.075em;

					@include tablet-portrait {
						font-size: 2.8125em;
					}
				}
			}



			.copy {
				padding: 25px 0;
				max-width: 260px;
				margin: 0 auto;

				p {
					font-family: $freight;
					font-weight: 400;
					font-size: 1.125em;
					line-height: 1.25em;
					letter-spacing: 0.05em;
				}

			}
		}

		.form-wrapper {
			input[type="text"],
			input[type="email"] {
				appearance: none;
				border: none;
				background: $white;
				display: block;
				padding: 10px 15px;
				font-weight: 500;
				font-size: 0.75em;
				text-transform: uppercase;
				letter-spacing: 0.075em;
				color: $slate;
				width: 100%;

				@include placeholder {
					color: $slate;
				}

				&:focus,
				&:active {
					outline: none;
				}
			}

			input[type="submit"]  {
				border: none;
				background: transparent;
				color: $white;
				font-family: $freight;
				font-weight: 700;
				font-size: 1.5em;
				letter-spacing: 0.05em;
				padding: 0 15px;
				text-transform: uppercase;
				position: relative;



				&:focus,
				&:active {
					outline: none;
				}
			}

			.field.email {
				padding: 5px 0 20px 0;
			}

			.field.submit {
				display: flex;
				justify-content: center;

				.submit-wrapper {
					&:after {
						content: '';
						display: block;
						background: $dark-pink;
						width: 100%;
						height: 19px;
						margin-top: -11px;
					}					
				}
			}
		}
	}	
}