.desktop-nav {
	display: none;
	position: static;

	@include tablet-landscape {
		display: block;
	}

	@include desktop {
		display: flex;
		justify-content: center;
		flex: 1 auto;
	}

	.desktop-links {
		display: flex;
		justify-content: flex-end;
		margin-left: auto;
		position: static;

		@include desktop {
			margin-left: 0;
		}

		.main-link {
			padding: 0 25px;
			position: static;

			& > a {
				display: block;
				text-transform: uppercase;
				font-size: 0.75em;
				font-weight: bold;
				letter-spacing: 0.075em;
				border-bottom: 1px solid transparent;
				padding-bottom: 2px;

				&:hover {
					border-bottom: 1px solid $slate;
				}
			}

			&.hover {
				& > a {
					border-bottom: 1px solid $slate;
				}
			}

			&:first-of-type {
				.main-link {
					padding-left: 0;
				}
			}

			&:last-of-type {
				.main-link {
					padding-right: 0;
				}
			}

		}
	}
}

.social-nav-links {
	display: none;

	@include tablet-landscape {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: 100%;
		order: -1;
		top: 20px;
	}

	@include desktop {
		width: auto;
		order: 1;
		padding-left: 50px;
		top: 0;
	}

	a {
		display: block;

		& + a {
			margin-left: 40px;
		}
		
		img {
			max-height: 14px;
		}
	}
}
