.dropdown {
	position: absolute;
	top: 72px;
	left: calc(50% - 512px);
	padding-top: 70px;
	width: 1024px;
	z-index: -1;
	opacity: 0;
	transform: translateY(10px);
	transition: transform 0.3s ease-in-out, opacity 0.3s ease-in, z-index 0.1s ease-in;

	@include desktop {
		left: calc(50% - 525px);
		width: 1050px;
	}

	.dropdown-wrapper {
		background: $white;
		padding: 60px;
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.browse {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 245px;

		.nav-headline {
			padding-bottom: 10px;

			h3 {
				font-weight: 900;
				font-size: 1.5em;
				letter-spacing: 0.025em;
				text-transform: capitalize;
			}
		}

		.sub-categories {
			margin-bottom: auto;

			a {
				display: block;
				font-size: 0.75em;
				letter-spacing: 0.075em;
				text-transform: uppercase;
				padding: 8px 0;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.posts {
		flex: 1;
		display: flex;
		justify-content: space-between;

		.nav-post {
			width: calc(33.3333% - 40px);
		}

		.photo-wrapper {
			a {
				display: block;
				@include aspect-ratio(170, 215);

				span.content {
					display: block;
				}

				img {
					object-fit: cover;
					object-position: top center;
					width: 100%;
					height: 100%;
				}
			}
		}

		.info {
			.headline {
				padding: 15px 5px;

				h3 {
					font-size: 1.25em;
					letter-spacing: 0.025em;
					line-height: 1.15em;

					a:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}


.main-link.hover {
	.dropdown {
		opacity: 1;
		transform: translateY(0);
		z-index: 10;
	}
}


