.mobile-nav {
	display: none;

	.overlay {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 100;
		width: 100%;
		height: 100vh;
		background: rgba(255, 255, 255, 0.95);
	}

	.overlay-wrapper {
		padding-top: 200px;

		@media screen and (max-height: 620px) {
			padding-top: 160px;

			.mobile-nav-link {
				padding: 10px;
			}
		}
	}

	.mobile-nav-link {
		display: flex;
		justify-content: center;
		padding: 15px;
		
		&.shop-link {
			display: none;
		}
		
		a {
			display: block;
			text-transform: uppercase;
			font-size: 0.75em;
			font-weight: bold;
			letter-spacing: 0.075em;


		}
	}

	@media screen and (min-width: 400px) and (max-height: 620px) {
		.mobile-nav-links {
			display: flex;
			flex-wrap: wrap;
			padding-top: 20px;

			.mobile-nav-link {
				width: 33.3333%;
				padding: 10px;
			}		
		}
	}
}

body.nav-overlay-open {
	overflow: hidden;

	.mobile-nav {
		display: block;

		@include tablet-landscape {
			display: none;
		}
	}

	.utility-nav {
		z-index: 1000;
	}

	.site-header {
		.site-logo {
			z-index: 1000;
		}
		.hamburger {
			position: absolute;
			z-index: 1000;
			right: 25px;


			.nav-trigger {

				.patty {
					background: none;

					&:after {
					    top: 0;
					    transform: rotate(45deg);
					}
					&:before {
					    top: 0;
					    transform: rotate(-45deg);
					}
				}
			}
		}		
	}

	.shop-nav {
		display: none;
	}

	&.shop-open {
		.site-header {
			.hamburger {
				z-index: -1;
				
				.nav-trigger {
					z-index: -1;
				}
			}		
		}

		.shop-nav {
			display: block;
		}
	}
}