.utility-nav {
	background: $slate;

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 100%;
		padding: 0 25px;

		@include tablet-portrait {
			padding: 0 50px;
		}

		@include desktop {
			padding: 0 75px;
		}
	}

	.nav-search {
		max-width: 16px;

		a {
			display: block;
		}
	}

	&-links {
		display: flex;
		align-items: center;

		.link {
			& + .link {
				margin-left: 40px
			}

			&.hover {
				& > a {
					border-bottom: 2px solid $white;
				}
			}			

			& > a {
				display: flex;
				align-items: center;
				font-size: 0.6875em;
				text-transform: uppercase;
				letter-spacing: 0.075em;
				font-weight: bold;
				color: $white;
				padding: 15px 0 13px 0;
				border-bottom: 2px solid transparent;

				&:hover {
					border-bottom: 2px solid $white;
				}

				&:not(.trigger-shop):not(.trigger-subscribe) {
					display: none;

					@include tablet-portrait {
						display: flex;
					}
				}

				span {
					display: block;

					&.icon {
						margin-right: 5px;

						img {
							transform: translateY(-1px);
						}
					}
				}
			}
		}
	}

	.subnav {
		position: absolute;
		top: 41px;
		right: -20px;
		opacity: 0;
		z-index: -1;
		padding-top: 2px;
		transition: transform 0.3s ease-in, opacity 0.2s ease-in;
		transform: translateY(10px);

		@include tablet-portrait {
			right: -32px;
		}

		.subnav-wrapper {
			background: $slate;
			padding: 30px 20px;
		}

		.subnav-link {
			display: flex;
			justify-content: center;

			& + .subnav-link {
				padding-top: 20px;
			}
		}

		a {
			color: $white;
			padding: 0;
			display: block;
			font-family: $freight;
			font-weight: 900;
			letter-spacing: 0.05em;
			text-transform: none;
			font-size: 0.9375em;
			border-bottom: none;

			&:hover {
				border-bottom: none;
				text-decoration: underline;
			}
		}
	}

	.link-shop.hover {
		.subnav {
			opacity: 1;
			transform: translateY(0);
			z-index: 10000;
		}
	}
}
